* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #d35649;
}

.nav-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo__img {
  width: 150px;
}

.nav-item {
  display: inline-block;
  margin-left: 1rem;
  color: white;
}

.nav-item__icon {
  margin-right: 0.5rem;
}

.hero-container {
  background-color: rgb(78, 78, 78);
  height: 70vh;
  min-height: 300px;
}

.hero {
  padding-top: 7rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.hero__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.hero__search {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 3rem 2rem;
}

.search {
  border-radius: 4px;
  display: flex;
  overflow: hidden;
}

.search__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.search__input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  border: 0;
}

.hero__button,
.search__button {
  border: 0;
}

.search__button {
  padding: 0 1.2rem;
  background-color: #d35649;
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1.2rem;
  margin-top: 2rem;
}

.info {
  max-width: 1100px;
  margin: 0 auto;
}

.info__title {
  text-align: center;
}

.info-grid {
  display: grid;
  gap: 2rem;
  grid-template: 300px 300px / 1fr 1fr;
}

.info-grid__item {
  border: 1px solid black;
  text-align: center;
}

.info-item__icon,
.info-item__title {
  margin-top: 1.4rem;
}

.info-item__title {
  font-size: 1.2rem;
}

.info-item__text {
  margin-top: 1.2rem;
}
